{{/* Header */}}

<div class="header">

    {{ if or (not (.Param "hideHeader")) .IsHome }}

    <div class="header-top">
    <h1 class="header-title">
        <a href="{{ if eq .Lang "ru" }}{{ .Site.BaseURL }}ru/{{ else }}{{ .Site.BaseURL }}{{ end }}">{{ .Site.Title }}</a>
    </h1>

    {{ partial "language-switcher.html" . }}
    </div>

    <div class="flex">
        {{ $currentPage := . }}

        {{ with site.Params.menu }}
        {{ range . }}
      
        <p class="small {{ if and (eq .name "публикации") (eq $currentPage.Name "Posts") }} bold {{ end }} {{ if eq .name (lower $currentPage.Name) }} bold {{ end }}">
            <a href="{{ .url }}" {{ if and (isset . "newTab") .newTab }}target="_blank" rel="noopener noreferrer"{{ end }}>
                /{{ .name }}
            </a>
        </p>
        {{ end }}
        {{ end }}
    </div>

    {{ end }}

</div>
